@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
em,i{font-style:normal;}
fieldset,img{border:0;}
img{display:block;}
ul,ol{list-style:none;}
a{text-decoration:none;outline:none;}
a:hover{text-decoration:underline;}
.clear{clear:both;display:block;height:0;overflow:hidden;font-size:0;}
button,input,select,textarea{font-size:100%;outline:none}
table{border-collapse:collapse;border-spacing:0;}
.hide{display:none;}
.l{float:left;}
.r{float:right;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
.w990{margin:0 auto;width:990px;}

/*分页*/
.snPageWrap{padding:20px 0;height:27px;overflow:hidden;}
.snPages{float:right;padding-right:10px;}
.snPages a,.snPages a:visited,.snPages span,.snPages div{position:relative;display:inline;float:left;margin-left:4px;color:#333;}
.snPages span{margin:0 10px;}
.snPages div{line-height:24px;padding-left:30px;overflow:hidden;}
.snPages a,.snPages a:visited{height:24px;line-height:24px;padding:0 8px;text-align:center;background:#fff;border:1px solid #d7d7d7;-webkit-border-radius:4px 4px 4px 4px;-moz-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px;}
.snPages a.current{color:#f60;}
.snPages a.prev,.snPages a.next,.snPages a.prev,.snPages a.next:visited{width:68px;height:24px;line-height:24px;line-height:28px\9;_line-height:24px;padding:0;overflow:hidden;}
.snPages a.prev,.snPages span.prev{text-indent:6px;}
.snPages a.next,.snPages span.next{margin-left:4px;text-indent:-6px;}
.snPages span.prev,.snPages span.next{display:inline;float:left;width:68px;height:24px;line-height:24px;line-height:28px\9;_line-height:24px;margin:0;color:#b1b1b1;text-align:center;background:#fff;border:1px solid #d7d7d7;-webkit-border-radius:4px 4px 4px 4px;-moz-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px;}
.snPages span.prev{+margin-right:4px;_margin-right:0px;}
.snPages span.next{margin-left:4px;}
.snPages b{position:absolute;width:0;height:0;line-height:0;margin-top:-2px;+margin-top:-3px;font-size:0;border-width:5px;border-style:solid;border-color:#fff #333 #fff #fff;}
.snPages a.prev b{left:1px;top:10px;}
.snPages a.next b{right:1px;top:10px;border-color:#fff #fff #fff #333;}
.snPages span.prev b{left:1px;top:10px;border-color:#fff #b1b1b1 #fff #fff;}
.snPages span.next b{right:1px;top:10px;border-color:#fff #fff #fff #b1b1b1;}
.snPages div input{width:32px;height:24px;line-height:24px;margin:0 3px;text-align:center;+vertical-align:middle;border:1px solid #d7d7d7;}
.snPages div input.pagesubmit{cursor:pointer;width:45px;height:26px;line-height:26px;_line-height:20px;background:url(images/common.png) no-repeat 0 0;-webkit-border-radius:4px 4px 4px 4px;-moz-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px;}
.snPages a:hover{color:#f60;}

/*uiBtn*/
.uiBtn,.uiBtn span{display:inline-block;background:url(images/main.png) no-repeat;cursor:pointer;overflow:hidden;}
.b1,.b1 span{height:25px;color:#333;font-size:12px;line-height:24px;line-height:26px\9;_line-height:24px;}
.b1{padding-left:1em;background-position:left -323px;}
.b1 span{padding-right:1em;background-position:right -323px;}
.b1:hover{color:#FFF;background-position:left -348px;text-decoration:none;}
.b1:hover span{color:#FFF;background-position:right -348px;text-decoration:none;}

/*uiText*/
.uiTextBox{display:block;padding:5px 4px 6px 10px;width:140px;height:18px;background:url("images/main.png") no-repeat;overflow:hidden;}
.uiTextBlur{background-position:0 -374px;}
.uiTextFocus{background-position:0 -404px;}
.uiTextBox .uiText{display:block;width:140px;height:18px;line-height:18px;color:#333;background:none;border:none;}

/*top*/
.topBar{width:100%;height:39px;background:url("images/topBar_bg.gif") repeat-x 0 0;overflow:hidden;}
.topBar p{height:39px;color:#333;line-height:38px;}
.topBar .loginInfo a{color:#1781CF;text-decoration:none;}
.topBar .loginInfo a:hover{color:#F60;text-decoration:underline;}
.topBar .topBarNav{width:100px;height:39px;overflow:hidden;}
.topBar .topBarNav a{float:right;color:#333;line-height:38px;text-decoration:none;}
.topBar .topBarNav a:hover{color:#F60;text-decoration:underline;}
.topBar .topBarNav .logout{margin:7px 10px 0 0;width:51px;height:25px;line-height:24px;background:url("images/main.png") no-repeat 0 -228px;text-align:center;overflow:hidden;}
.topBar .topBarNav .logout:hover{text-decoration:none;}
.top{width:100%;height:111px;background:url("images/top_bg.gif") repeat-x 0 0;overflow:hidden;}
.top .topMain{height:111px;background:url("images/top.jpg") no-repeat 0 0;overflow:hidden;}
.top .topMain .logo{display:block;width:630;height:111px;overflow:hidden;}
/*login*/
.loginWrap{width:100%;}
.loginTop{width:100%;height:245px;background:url("images/login_bg1.jpg") no-repeat top center;overflow:hidden;}
.loginMid{width:100%;height:320px;background:url("images/login_bg2.jpg") no-repeat top center;overflow:hidden;}
.loginBot{width:100%;height:265px;background:url("images/login_bg3.jpg") no-repeat top center;overflow:hidden;}
.loginBox{margin:0 auto;width:512px;}
.loginBox .uiTip{padding:2px 0;height:16px;line-height:16px;}
.loginBox .uiTip span{padding-left:6px;}
.loginBox .uiTipFalse{color:#F00;}
.loginCon{margin:96px 0 0 94px;width:412px;}
.loginCon dl{width:412px;overflow:hidden;}
.loginCon .label{float:left;width:70px;height:46px;line-height:46px;font-size:16px;font-family:"Microsoft YaHei";font-weight:500;color:#333;text-align:left;}
.loginCon dd{float:left;width:342px;overflow:hidden;}
.loginCon .loginText{width:190px;height:18px;background:url("images/main.png") no-repeat;overflow:hidden;}
.loginCon .userName{padding:17px 16px 11px 46px;background-position:0 0;}
.loginBox .loginCon .userNameFocus{background-position:0 -92px;}
.loginCon .passWord{padding:10px 16px 18px 46px;background-position:0 -46px;}
.loginBox .loginCon .passWordFocus{background-position:0 -138px;}
.loginCon .loginText input{width:190px;height:18px;line-height:18px;background:none;border:none;}
.loginCon .submit{display:block;margin-left:6px;width:240px;height:44px;background:url("images/main.png") no-repeat 0 -184px;overflow:hidden;}
.loginCon .forgetPw{float:left;margin-left:6px;width:70px;height:42px;color:#FF7200;line-height:42px;line-height:44px\9;_line-height:42px;text-decoration:none;}
.loginCon .forgetPw:hover{color:#F60;text-decoration:underline;}
.loginCon .falseTip{float:left;padding:5px 0 0 30px;width:140px;height:32px;color:#C00;line-height:32px;line-height:36px\9;_line-height:32px;font-weight:700;background:url("images/main.png") no-repeat 0 -286px;overflow:hidden;}
.loginBot .footer{margin-top:162px;}

/*index*/
.wrap{padding-top:10px;width:100%;background:url("images/wrap_bg.gif") repeat-x 0 0;}
.nav{padding-top:3px;height:42px;background:url("images/nav_bg.png") no-repeat 0 0;overflow:hidden;}
.nav a{float:left;display:inline;color:#FFF;font-family:"Microsoft YaHei";font-weight:700;text-decoration:none;}
.nav .nav1{margin-left:94px;height:42px;line-height:42px;font-size:18px;}
.nav .nav1:hover{color:#F60;text-decoration:none;}
.nav .nav2{margin:9px 0 0 10px;width:125px;height:33px;font-size:14px;line-height:32px;text-align:center;overflow:hidden;}
.nav .nav2:hover,.nav .on{color:#137DCF;background:url("images/main.png") no-repeat 0 -253px;}

.main{margin:0 auto;padding-top:10px;width:990px;background:#FFF;overflow:hidden;}
.leftPart{float:left;width:190px;}
.menu{position:relative;width:188px;border:1px #3BA9E3 solid;z-index:997;}
.menuList{padding:11px 0;width:188px;border:#FFF solid;border-width:1px 0;background:url("images/menu_bg.png") repeat-y 1px 0;}
.subMenu{display:none;position:absolute;top:0;left:188px;width:166px;border:1px #3BA9E3 solid;z-index:998;}
.subMenuList{width:166px;border:#FFF solid;border-width:1px 0;background:url("images/subMenu_bg.png") repeat-y 0 0;}
.subMenu_sub{display:none;position:absolute;top:0;left:166px;width:142px;border:1px #3BA9E3 solid;z-index:999;}
.subMenu_subList{width:142px;border:#FFF solid;border-width:1px 0;background:url("images/subMenu_subBg.png") repeat-y 0 0;}
.menu li{position:relative;float:left;}
.menu .menu_fgx{width:188px;height:3px;background:url("images/menu_fgx.png") no-repeat 0 0;overflow:hidden;}
.menu .menuBtn{display:block;padding-left:60px;width:128px;height:42px;line-height:42px;color:#005FA2;font-size:14px;font-weight:700;background:url("images/menu.png") no-repeat;text-decoration:none;overflow:hidden;}
.menu .menuBtn1{background-position:0 0;}
.menu .menuBtn1:hover,.menu .hover .menuBtn1{color:#FFF;background-position:-188px 0;text-decoration:none;;}
.menu .menuBtn2{background-position:0 -42px;}
.menu .menuBtn2:hover,.menu .hover .menuBtn2{color:#FFF;background-position:-188px -42px;text-decoration:none;;}
.menu .menuBtn3{background-position:0 -84px;}
.menu .menuBtn3:hover,.menu .hover .menuBtn3{color:#FFF;background-position:-188px -84px;text-decoration:none;;}
.menu .menuBtn4{background-position:0 -126px;}
.menu .menuBtn4:hover,.menu .hover .menuBtn4{color:#FFF;background-position:-188px -126px;text-decoration:none;;}
.menu .menuBtn5{background-position:0 -168px;}
.menu .menuBtn5:hover,.menu .hover .menuBtn5{color:#FFF;background-position:-188px -168px;text-decoration:none;;}
.menu .menuBtn6{background-position:0 -210px;}
.menu .menuBtn6:hover,.menu .hover .menuBtn6{color:#FFF;background-position:-188px -210px;text-decoration:none;;}
.menu .menuBtn7{background-position:0 -252px;}
.menu .menuBtn7:hover,.menu .hover .menuBtn7{color:#FFF;background-position:-188px -252px;text-decoration:none;;}
.menu .menuBtn8{background-position:0 -294px;}
.menu .menuBtn8:hover,.menu .hover .menuBtn8{color:#FFF;background-position:-188px -294px;text-decoration:none;;}
.menu .menuBtn9{background-position:0 -336px;}
.menu .menuBtn9:hover,.menu .hover .menuBtn9{color:#FFF;background-position:-188px -336px;text-decoration:none;;}
.subMenu .subMenuBtn{display:block;padding-left:16px;width:148px;height:34px;border:#FFF solid;border-width:0 1px;color:#666;font-size:14px;line-height:34px;text-decoration:none;overflow:hidden;}
.subMenu .subMenuBtn:hover{color:#FFF;font-weight:700;background:#6CC1FE;text-decoration:none;}
.subMenu .hover .subMenuBtn,.subMenu .hover .subMenuBtn:hover{width:150px;border:none;color:#FFF;font-weight:700;background:url("images/subMenu_btn.png") no-repeat 0 0;text-decoration:none;}
.subMenu_sub a{display:block;width:142px;height:26px;color:#666;line-height:26px;text-align:center;text-decoration:none;overflow:hidden;}
.subMenu_sub a:hover{color:#0077CF;font-weight:700;text-decoration:none;}

.link{margin-top:10px;width:188px;height:320px;border:1px #3BA9E3 solid;overflow:hidden;}
.link h2{width:100%;height:36px;color:#666;font-size:16px;line-height:36px;font-weight:700;background:url("images/linkTitle.gif") repeat-x 0 0;text-align:center;overflow:hidden;}
.linkListWrap{position:relative;margin:12px auto 0;width:170px;height:264px;overflow:hidden;}
.linkList{position:relative;}
.linkList li{position:relative;margin-bottom:8px;width:170px;height:60px;overflow:hidden;}
.linkList .linkInfoBg{position:absolute;bottom:0;left:0;width:170px;height:26px;background:#4F4F4F;opacity:0.7;filter:Alpha(opacity=70);}
.linkList .linkInfo{position:absolute;bottom:0;left:0;width:170px;height:26px;text-align:center;overflow:hidden;}
.linkList .linkInfo a{color:#FFF;font-family:"Microsoft YaHei";line-height:26px;text-decoration:none;}
.linkList .linkInfo a:hover{color:#F60;text-decoration:underline;}

.rightPart{float:right;width:790px;}
.rightPartBox{margin-bottom:10px;padding:0 20px 10px;width:748px;border:1px #D8DEE3 solid;}
.rightPartBox_t{margin-bottom:20px;height:32px;line-height:32px;overflow:hidden;}
.rightPartBox_t h2{float:left;height:32px;color:#333;font-size:14px;}
.rightPartBox_t a{float:right;height:32px;color:#999;font-family:"宋体";text-decoration:none;}
.rightPartBox_t a:hover{color:#F60;text-decoration:underline;}
.rightPartBox_c{width:748px;overflow:hidden;}
.noticeImg{float:left;width:308px;height:167px;border:1px #D1D1D1 solid;overflow:hidden;}
.noticeImg img{display:block;width:306px;height:165px;border:1px #FFF solid;overflow:hidden;}
.rightPartBox_c ul{position:relative;margin-top:-9px;height:123px;overflow:hidden;}
.rightPartBox_c li{padding:0 5px;height:30px;color:#A0A0A0;line-height:30px;border-bottom:1px #C2C2C2 dotted;overflow:hidden;}
.rightPartBox_c a{margin-left:10px;width:640px;height:30px;color:#333;text-decoration:none;overflow:hidden;}
.rightPartBox_c a:hover{color:#F60;text-decoration:underline;}
.rightPartBox_c span{height:30px;font-family:"宋体";}
.rightPartBox_c .noticeList{float:right;width:420px;height:185px;}
.rightPartBox_c .noticeList a{width:320px;}

.rightB{padding-bottom:6px;width:790px;height:130px;background:url("images/rightB.png") no-repeat center bottom;overflow:hidden;}
.rightB ul{width:790px;height:130px;overflow:hidden;}
.rightB li{float:left;width:190px;height:130px;border-right:1px #DDD solid;overflow:hidden;}
.rightB li img{float:left;margin:14px 5px 0 13px;display:inline;width:84px;height:102px;overflow:hidden;}
.rightB .rightB_info{float:left;width:88px;overflow:hidden;}
.rightB .rightB_info b{display:block;margin-top:6px;height:32px;line-height:32px;color:#444;font-size:16px;font-family:"Microsoft YaHei";}
.rightB .rightB_info a{padding-right:6px;color:#777;text-decoration:none;word-break:keep-all;white-space:nowrap;}
.rightB .rightB_info a:hover{color:#0077CF;text-decoration:none;}
.rightB .w217{width:217px;border:none;}
.rightB .w217 .rightB_info{width:115px;}
/*myWork*/
.myWorkList{position:relative;padding-left:1px;margin-bottom:-1px;width:790px;height:28px;z-index:99;overflow:hidden;}
.myWorkList a{float:left;position:relative;margin-left:-1px;height:26px;width:130px;background:url("images/myWorkList.gif") repeat-x 0 0;border:1px #DFDFDF solid;border-bottom:1px #3BA9E3 solid;color:#676767;line-height:26px;text-align:center;text-decoration:none;}
.myWorkList a:hover{font-weight:700;text-decoration:none;}
.myWorkList .on,.myWorkList .on:hover{height:27px;background:#FFF;border:1px #3BA9E3 solid;border-bottom:none;font-weight:700;z-index:900;}
.myWorkCon{position:relative;padding:0 24px;height:731px;border:1px #3BA9E3 solid;}
.myWorkCon .snPageWrap{position:absolute;bottom:0;right:0;}
.search{padding:20px 0;width:740px;height:29px;overflow:hidden;}
.search table{width:100%;}
.search td{color:#333;}
.search .b1{position:relative;bottom:-2px;}

.workList{margin:0 auto;width:740px;overflow:hidden;}
.workList .uiTable{width:741px;color:#333;border-bottom:2px #EEE solid;}
.uiTable th{height:26px;font-weight:700;line-height:26px;background:#DADADA;border-right:1px #FFF solid;word-break:keep-all;white-space:nowrap;}
.uiTable td{background:#FFF;border-right:1px #FFF solid;}
.uiTable .oddTd{background:#EEE;}
.uiTable td p{height:24px;line-height:24px;text-align:center;overflow:hidden;}
.uiTable td a{color:#333;text-decoration:none;}
.uiTable td a:hover{color:#F60;text-decoration:underline;}
/*noticeList*/
.rightPart .carList{position:relative;padding-bottom:0;margin-bottom:0;height:758px;}
.rightPart .carList .snPageWrap{position:absolute;bottom:0;right:0;}

/*footer*/
.footer{padding:20px 0 12px 0;}
.footer p{height:24px;color:#666;line-height:24px;text-align:center;overflow:hidden;}
.footer a{color:#666;text-decoration:none;}
.footer a:hover{color:#F60;text-decoration:underline;}
.footer i{padding:0 10px;color:#B4B4B4;}

/*index_public*/
.index_public .nav{background:url("images/nav_bg1.png") no-repeat 0 0;}
.index_public .rightPartBox,.index_public .rightPartBox_c{width:948px;}
.index_public .rightPartBox_c .noticeList{width:620px;}
.index_public .rightPartBox_c .noticeList a{width:500px;}
.index_public .workList{width:940px;}
.index_public .workList .uiTable{width:941px;}

.index_public .rightB_p{padding:20px 26px;width:936px;height:563px;overflow:hidden;}
.rightB_pC{width:955px;height:563px;overflow:hidden;}
.rightB_p ul{margin-top:-10px;margin-left:-30px;width:1000px;height:565px;overflow:hidden;}
.rightB_p li{float:left;padding:10px 0 10px 30px;width:468px;height:166px;border:#C3C3C3 dotted;border-width:0 1px 1px 0;overflow:hidden;}
.rightB_p .rightBImg{float:left;margin-right:20px;display:inline;width:302px;height:164px;border:1px #E5EAED solid;overflow:hidden;}
.rightB_p .rightBImg img{display:block;border:1px #FFF solid;}
.rightB_p .rightB_info{float:left;width:88px;overflow:hidden;}
.rightB_p .rightB_info b{display:block;margin-top:6px;height:32px;line-height:32px;color:#444;font-size:16px;font-family:"Microsoft YaHei";}
.rightB_p .rightB_info a{padding-right:6px;color:#777;text-decoration:none;word-break:keep-all;white-space:nowrap;}
.rightB_p .rightB_info a:hover{color:#0077CF;text-decoration:none;}
.rightB_p .w217 .rightB_info{width:115px;}

.link1{width:988px;height:130px;border:1px #D8DEE3 solid;overflow:hidden;}
.link1 h2{padding-left:20px;margin-bottom:10px;height:36px;color:#333;font-size:16px;line-height:36px;font-weight:700;overflow:hidden;}
.linkListWrap1{position:relative;margin:0 auto;width:950px;height:60px;overflow:hidden;}
.linkListWrap2{width:99999px;height:60px;overflow:hidden;}
.linkList1{position:relative;float:left;}
.linkList1 li{position:relative;float:left;display:inline;margin-right:25px;width:170px;height:60px;overflow:hidden;}
.linkList1 .linkInfoBg{position:absolute;bottom:0;left:0;width:170px;height:26px;background:#4F4F4F;opacity:0.7;filter:Alpha(opacity=70);}
.linkList1 .linkInfo{position:absolute;bottom:0;left:0;width:170px;height:26px;text-align:center;overflow:hidden;}
.linkList1 .linkInfo a{color:#FFF;font-family:"Microsoft YaHei";line-height:26px;text-decoration:none;}
.linkList1 .linkInfo a:hover{color:#F60;text-decoration:underline;}

/*新增*/
.rightB_p .rightBImgBlog{float:left;margin-right:20px;display:inline;width:202px;height:164px;border:1px #E5EAED solid;overflow:hidden;}
.rightB_p .rightBImgBlog img{display:block;border:1px #FFF solid;}

.rightB_p .rightB_infoBlog{float:left;width:230px;overflow:hidden;}
.rightB_p .rightB_infoBlog b{display:block;margin-top:6px;height:32px;line-height:32px;color:#444;font-size:16px;font-family:"Microsoft YaHei";}
.rightB_p .rightB_infoBlog a{padding-right:6px;color:#777;text-decoration:none;word-break:keep-all;white-space:nowrap;}
.rightB_p .rightB_infoBlog a:hover{color:#0077CF;text-decoration:none;}